@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

@mixin coral {
    color: #F67E7E;
}

@mixin white {
    color: #fff;
}

@mixin green {
    background-color: #014E56;
}

@mixin site-btn($color) {
    width: 153px;
    height: 48px;
    border: 2px;
    font-family: Livvic;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: $color;
    border-radius: 25px;
    border: 2px solid $color;
    background-color: transparent;
}

@mixin hr-line($color) {
    width: 50px;
    height: 4px;
    background-color: $color;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 165px;
}

header {
    background-color: #014E56;
    .navigation {
        padding-top: 73px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .next-pg {
            @include site-btn(white);
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background: #fff;
                color: black;
                transition: all 0.2s ease-in-out;
            }
        }
        &-content {
            display: flex;
            align-items: center;
            gap: 45px;
            li a {
                font-family: Livvic;
                font-size: 18px;
                font-weight: 600;
                line-height: 28px;
                text-align: left;
                @include white();
                &:hover {
                    color: coral;
                    transition: 0.2s;
                }
            }
        }
    }
    .hero {
        padding: 120px 0;
        text-align: center;
        &-content {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            h2 {
                font-family: Livvic;
                font-size: 64px;
                font-weight: 700;
                line-height: 100px;
                @include white();
                text-align: left;
            }
            .hr-horizon {
                @include hr-line(#F67E7E);
                margin-bottom: 83px;
            }
            p {
                font-family: Livvic;
                font-size: 18px;
                font-weight: 600;
                line-height: 28px;
                @include white();
                text-align: left;
                width: 730px;
            }
        }
    }
}

main {
    .directors {
        text-align: center;
        padding: 140px 0;
        background: #004047;
        h1 {
            font-family: Livvic;
            font-size: 48px;
            font-weight: 700;
            line-height: 48px;
            text-align: center;
            @include white();
            padding-bottom: 64px;
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 76px;
            column-gap: 20px;
            .director-card,
            .quote-card {
                padding: 32px 24px 56px;
                width: 350px;
                height: 253px;
                background: #012F34;
                display: flex;
                flex-direction: column;
                align-items: center;
                .plus {
                    position: relative;
                    top: 25px;
                }
                .minus {
                    position: relative;
                    top: 33px;
                }
                img {
                    margin-bottom: 16px;
                }
                h2 {
                    font-family: Livvic;
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 28px;
                    text-align: center;
                    color: #79C8C7;
                }
                i {
                    font-family: Livvic;
                    font-size: 15px;
                    line-height: 25px;
                    text-align: center;
                    @include white();
                }
                &.quote-card {
                    text-align: center;
                    p {
                        margin-bottom: 20px;
                        font-family: Livvic;
                        font-size: 15px;
                        font-weight: 600;
                        line-height: 25px;
                        text-align: center;
                        @include white();
                    }
                    .social-icons {
                        display: flex;
                        gap: 10px;
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
    .section-clients {
        padding: 140px 0;
        background: #012F34;
        .clients {
            h2 {
                @include white();
                font-family: Livvic;
                font-size: 48px;
                font-weight: 700;
                line-height: 48px;
                text-align: center;
                margin-bottom: 64px;
            }
            &-content {
                display: flex;
                align-items: center;
                gap: 80px;
            }
        }
    }
    .section-registration {
        background: #F67E7E;
        padding: 76px 0;
        .registration {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 260px;
            h2 {
                font-family: Livvic;
                font-size: 48px;
                font-weight: 700;
                line-height: 48px;
                text-align: left;
                color: #012F34;
            }
            button {
                @include site-btn(#012F34);
                &:hover {
                    background: black;
                    color: white;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
}

footer {
    padding: 48px 0;
    background: #002529;
    .foot-content {
        display: flex;
        justify-content: space-between;
        .content-one {
            width: 730px;
            display: flex;
            align-items: stretch;
            gap: 125px;
            li {
                .inside {
                    display: flex;
                    justify-content: space-between;
                    a {
                        @include white();
                        font-family: Livvic;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 28px;
                        text-align: left;
                        &:hover {
                            color: coral;
                            transition: 0.2s
                        }
                    }
                }
                p {
                    @include white();
                    opacity: 0.6;
                    font-family: Livvic;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 25px;
                    text-align: left;
                }
            }
        }
        .content-two {
            .img-li {
                display: flex;
                gap: 18px;
                justify-content: end;
            }
            li {
                p {
                    margin-top: 51px;
                    @include white();
                    opacity: 0.6;
                    font-family: Livvic;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 25px;
                    text-align: left;
                }
            }
        }
    }
}

@media(max-width:768px) {
    .container {
        max-width: 768px;
        padding: 0 40px;
    }
    header {
        .navigation {
            padding-top: 64px;
        }
        .hero {
            text-align: center;
            &-content {
                display: grid;
                justify-content: center;
                h2 {
                    font-size: 64px;
                    margin-bottom: 24px;
                    line-height: 64px;
                    text-align: center;
                }
                .hr-horizon {
                    display: none;
                }
                p {
                    line-height: 50px;
                    text-align: center;
                }
            }
        }
    }
    main {
        .directors {
            text-align: center;
            padding: 140px 0;
            h1 {
                font-size: 32px;
                padding-bottom: 48px;
            }
            .grid-container {
                grid-template-columns: repeat(2, 1fr);
                row-gap: 76;
                column-gap: 11px;
                .director-card,
                .quote-card {
                    padding: 32px 24px 56px;
                    width: 281px;
                    height: 253px;
                }
            }
        }
        .section-clients {
            padding: 100px 0;
            .clients {
                h2 {
                    font-size: 32px;
                    margin-bottom: 48px;
                }
                &-content {
                    gap: 30px;
                    img {
                        width: 110px;
                    }
                }
            }
        }
        .section-registration {
            padding: 84px 0;
            .registration {
                gap: 84px;
                h2 {
                    font-size: 32px;
                    line-height: 32px;
                }
            }
        }
    }
    footer {
        padding: 56px 0;
        .foot-content {
            display: grid;
            .content-one {
                width: 700px;
                gap: 395px;
                li {
                    .inside {
                        a {
                            margin-top: 53px;
                        }
                    }
                    p {
                        text-align: right;
                    }
                }
            }
            .content-two {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .img-li {
                    margin-top: 51px;
                }
            }
        }
    }
}